<div class="pop">
  <div class="pop-description d-flex align-items-center">
    <h1><%=link_to hero.name, hero_path(hero), class:'' %></h1>
  </div>
  <% if hero.photo.attached? %>
  <div class="pop-img"><%= cl_image_tag(hero.photo.key, :transformation=>[
  {:effect=>"cartoonify"}, {:width=>80, :height=>80, :crop=>"fill", :radius=> 50}]) %></div>
  <% end %>
</div>
