.container{
  background: linear-gradient(0.35turn, #3f87a6, #cedac5, #f69d3c);
  padding: 16px;
}

.card-show{
  display: flex;

}
.card-superhero{
  background-color: whitesmoke;
  margin: 15px;
  padding: 16px;
}
