// Specific CSS for your home-page
.home-banner {
  background-image: url(../../images/pow.png);
  background-color: #06d6a0;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  height: 350px;
  padding: 20px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15);
  margin-bottom: 20px;
  position: relative;
}

.hero-cards {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  // width: 100vh;
  height: 100%;
  margin:30px 20px;
  bottom: -344px;
}

.hero-card {
  border-radius: 50%;
  background-color: rgb(131, 131, 131);
  height: 300px;
  width: 300px;
  margin: 0;
  margin-bottom: 10px;
  border: 15px solid rgb(0, 0, 0);
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
  position: relative;
}

.hero-rating {
  position: absolute;
  border-radius: 50%;
  background-color: #242424;
  height: 100px;
  width: 100px;
  margin: 0;
  border: 1px solid black;
  bottom: -26px;
  right: 10px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
}

.search-bar {
  position: absolute;
  bottom: 60px;
  left: 40px;
  width: 100%;
}
