<div class="home-banner">
  <div>
    <h1>Powaaaaa</h1>
    <p>Your results for "<%= params[:query] %>"</p>
  </div>
    <div class="power-form row">
      <div class="col-8">
        <span><%= form_tag heros_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type in a power, Hero or location"%></span>
      </div>
          <div class="col-4"><%= submit_tag "Give me this power !", class: "search-btn btn btn-primary" %></div>
        <% end %>
    </div>
    </div>
  </div>
  </div>
