.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .infos {
    background: #073B4C;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 20px;
    position: relative;
    border-radius: 0 0 5px 5px;
  }
}

.flex-item {
  width: 50%;
}

.flex-item-hero {
  width: 100%
}


.title {
  background-color: #06D6A0;
  font-family: 'Shizuru', cursive;
  color: white;
  font-size: 40px;
  text-align: center;
  border-radius: 5px 5px 0 0 ;
  padding: 16px 40px 16px 40px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px 0 0 0 !important;
}
