.heros-banner {
  background-color: #06d6a0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
  padding: 20px;
  // box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.15);
  margin-bottom: 20px;
  position: relative;
}

.heros-banner h1 {
  font-family: 'Shizuru', cursive;
  font-size: 80px;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  padding-bottom: 40px;
}
