.map {
  border: 12px solid white;
  border-radius: 12px;
  margin: 20px;
  box-shadow: 5px 15px 5px rgba(0,0,0,0.2);
}

.map-show{
  border: 12px solid white;
  border-radius: 12px;
  margin-top: 20px;
  box-shadow: 5px 15px 5px rgba(0,0,0,0.2);
}
.pop-img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.pop-description h1 a {
  color: rgb(0, 0, 0)!important;
  text-decoration: none;
  border: none;
  outline: none;
}

.mapboxgl-popup-content {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: relative;
  border: 10px solid black;
  background: #f9f9f9;
  opacity: 80%;
  padding: 10px 10px 15px;
  pointer-events: auto;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.39);
}
