.navbar-lewagon {
  justify-content: space-between;
  background: rgba($color: #06d6a0, $alpha: 1)
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.sign-in-btn {
  background-color: #ffd166;
  border-radius: 35%;
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px auto;
  margin: 0 10px;
}

.log-in-btn {
  background-color:#ef476f;
  border-radius: 35%;
  padding: 20px auto;
  margin: 0 10px;
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-weight: 600;
  text-transform: uppercase;
}
